:root {
    --colour-primary: #b10dfd;
    --colour-secondary: #d885ff;
    --bg-colour-primary: #1a1a1c;
    --bg-colour-secondary: #2b2b2f;
    --bg-colour-tertiary: #37373e;
}
body {
    background-color: var(--bg-colour-primary);
}
span {
    color: white;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: var(--colour-primary);
}
.nav-item .active {
    box-shadow: 0px 0px 15px 0px var(--colour-primary);
}
.nav-link {
    color: var(--colour-secondary);
    font-weight: 600;
}
.nav {
    --bs-nav-link-color: var(--colour-secondary);
    --bs-nav-link-hover-color: var(--colour-primary);
}
.bg-content-box {
    background-color: var(--bg-colour-secondary);
    color: #f9f9eb;
}
.bg-search {
    background-color: var(--bg-colour-tertiary);
}
.row {
    --bs-gutter-x:0;
}
a {
    text-decoration: none;
    color: var(--colour-secondary);
    transition: 0.2s;
}
a:hover {
    color: var(--colour-main);
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.ar-1-1 {
    aspect-ratio: 1 / 1;
}
.ar-1-2 {
    aspect-ratio: 1 / 2;
}
@media (max-width:62em), print {
    .mobile-wide {
        width: 100%;
    }
}
